#header-img{
	width:45px;
	height: auto;
	position: relative;
	top:-10px;
}

#nav-bar{
	margin:0;
	border-radius: 0;
}
#bs-example-navbar-collapse-1{
	font-size: 16px;
	word-spacing: 10px;
	
}

#links a:hover{
	color:blue;

}

#title{
	color:#00173a;
	font-size:24px;
	font-weight: 800;
	border-bottom: 2px solid gray;
	text-align: center;
	padding:5px;
}

#shipping{
	display:flex;
	align-items: center;
	justify-content: center;

}

.fa-truck{
	
	color:red;

}



#quality{
	display:flex;
	align-items: center;
	justify-content: center;
}

.fa-fire{
	
	color:red;

}

.fa-money{
	color:red;
}

.wrap{
	width:60%;
	margin:0 auto;
	font-family: cursive;
	


}
#money{
	display:flex;
	align-items: center;
	justify-content: center;
}
@media (max-width:700px){
	iframe{
		width: 300px;
		height: 150px;
	}
}

#free{
	padding-top: 40px;
	background:#dddddd;
}

#submit{
	width:150px;
}

#five{
	border:2px solid black;
}

#half{
	border:2px solid black;
	margin-left: 5px;
}

#marathon{
	margin-left: 5px;
	border:2px solid black;
}

#pricing{
	padding-top: 50px;
	font-size: 20px;

}

h3{
	background: silver;
	padding: 5px;
	color:#00286b;
}